
.selector {
    color: #eee;
    background-color: #fff;
    padding: 4px 10px;
    border-radius: 4px;
    width: 30%;
}

.form {
    color: #eee;
    width: 100%;
    display: flex;
    align-items: center;
    /*background-color: lavender;*/
}